.form-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
body.rtl .pull-right {
  float: left !important;
}
body.rtl .pull-left {
  float: right !important;
}
body.rtl .lSSlideOuter {
  direction: ltr;
}
body.rtl .lSSlideOuter .product .product-inner {
  direction: rtl;
}
body.rtl #loader {
  right: 50%;
  left: auto;
}
body.rtl .vina-vertical-vmproduct .item-inner .list-col4 {
  float: right;
}
body.rtl .vina-vertical-vmproduct .item-inner .list-col8 {
  float: right;
  padding-left: 0;
  padding-right: 30px;
}
body.rtl .vina-vertical-vmproduct .price-box .product-price {
  text-align: right;
}
body.rtl .vina-vertical-vmproduct .price-box .product-price > div.PricesalesPrice {
  float: right;
}
body.rtl .vina-vertical-vmproduct .price-box .product-price .price-crossed span {
  margin-left: 0;
  margin-right: 10px;
}
body.rtl .top-contact .widget {
  float: right;
}
body.rtl .top-contact .widget i {
  margin-left: 6px;
  margin-right: 0;
}
body.rtl .top-contact .widget:first-child {
  margin-right: 0;
}
body.rtl .top-contact .widget:last-child {
  margin-left: 22px;
}
body.rtl #sp-email-contact .sp-contact-info {
  float: right;
}
body.rtl .chzn-container.chzn-container-single .chzn-drop {
  left: 9000px !important;
}
body.rtl .chzn-container.chzn-container-active.chzn-container-single .chzn-drop {
  left: 0 !important;
}
body.rtl .chzn-container-single-nosearch .chzn-search input {
  left: 9000px;
}
body.rtl float-left,
body.rtl .floatleft {
  float: right;
}
body.rtl float-right,
body.rtl .floatright {
  float: left;
}
body.rtl .zoomWindowContainer >div {
  left: auto !important;
  right: 100%;
}
body.rtl .productdetails-view span.addtocart-button {
  float: right;
}
body.rtl .productdetails-view .icons.add-to-box-2 > div,
body.rtl .productdetails-view .icons.add-to-box-2 > a {
  float: right !important;
  padding-right: 0;
  padding-left: 10px;
}
body.rtl .productdetails-view .quantity-box {
  float: right;
  margin-left: 30px;
  margin-right: 0;
}
body.rtl .productdetails-view .quantity-box .quantity-minus,
body.rtl .productdetails-view .quantity-box .quantity-plus {
  left: -18px;
  right: auto;
}
body.rtl .productdetails-view .additional-images {
  left: auto;
  right: 0;
}
body.rtl .productdetails-view .main-image {
  padding: 0 130px 0 30px;
}
body.rtl .productdetails-view .lSSlideOuter .lSGallery li {
  float: right !important;
}
body.rtl .productdetails-view #vina-tab #vinaTabContent #vina-reviews .vote {
  -webkit-transform: translate(-20px,-3px);
  -ms-transform: translate(-20px,-3px);
  -o-transform: translate(-20px,-3px);
  transform: translate(-20px,-3px);
}
body.rtl .product-related-products .related_slider .lSAction {
  left: -13px;
  right: auto;
}
body.rtl .orderby-displaynumber .view-mode a {
  margin-left: 15px;
  margin-right: 0;
}
body.rtl .orderby-displaynumber .result-count {
  margin: 8px 25px 0 0;
}
body.rtl .orderby-displaynumber .display-number .number {
  float: left;
  margin: 3px 10px 0 0;
}
body.rtl .orderby-displaynumber .display-number .number:after {
  left: 1px;
  right: auto;
}
body.rtl #additional-images ul li {
  float: right;
}
body.rtl .addthis_default_style .addthis_separator,
body.rtl .addthis_default_style .at300b,
body.rtl .addthis_default_style .at4-icon,
body.rtl .addthis_default_style .at300bo,
body.rtl .addthis_default_style .at300m,
body.rtl .addthis_default_style .at300bs {
  float: right;
}
body.rtl .vm-product-details-container .icons a {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
body.rtl .vm-product-details-container .icons a:before {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
body.rtl .vm-product-details-container .btn-compare,
body.rtl .vm-product-details-container .btn-wishlist {
  float: right;
}
body.rtl .vm-product-details-container div#vmcompare {
  margin-left: 10px;
  margin-right: 0;
}
body.rtl .vm-product-details-container div#vmcompare a:before {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
body.rtl .vm-product-details-container .btn-wishlist .addtofav_aws_icon i,
body.rtl .vm-product-details-container .btn-wishlist .addtofav_aws_icon_active i {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
body.rtl .vm-product-details-container .ask-a-question i {
  margin-left: 5px;
  margin-right: 0;
  float: right;
}
body.rtl .offcanvas-menu .offcanvas-inner .sp-module .sp-module-title {
  text-align: right;
}
body.rtl .offcanvas-menu .offcanvas-inner div.vina-treeview-menus .treeview .hitarea {
  left: 0;
  right: auto;
}
body.rtl .sp-contact-info {
  float: left;
}
body.rtl #offcanvas-toggler {
  float: left;
}
body.rtl .close-offcanvas {
  right: auto;
  left: 10px;
}
body.rtl .offcanvas-menu {
  -webkit-transition: opacity 400ms cubic-bezier(0.7,0,0.3,1), left 400ms cubic-bezier(0.7,0,0.3,1);
  transition: opacity 400ms cubic-bezier(0.7,0,0.3,1), left 400ms cubic-bezier(0.7,0,0.3,1);
}
body.rtl .body-innerwrapper:after {
  left: 0;
}
body.rtl .offcanvas-menu {
  left: -280px;
}
body.rtl.offcanvas .offcanvas-menu {
  left: 0;
}
body.rtl .sp-megamenu-parent {
  float: left;
}
body.rtl .sp-megamenu-parent >li.sp-has-child > a:after {
  float: left;
  margin-left: 0;
  margin-right: 10px;
}
body.rtl .sp-megamenu-parent sp-dropdown .sp-dropdown-items .sp-has-child>a:after {
  -webkit-transform: translate(15px,0);
  -ms-transform: translate(15px,0);
  -o-transform: translate(15px,0);
  transform: translate(15px,0);
}
body.rtl .sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-right {
  right: 0;
  left: auto;
}
body.rtl .vina-vmtreeview h3 {
  padding: 0 20px 0 13px;
}
body.rtl .vina-vmtreeview h3:before {
  float: right;
  margin-left: 11px;
  margin-right: 0;
}
body.rtl .vina-vmtreeview h3:after {
  float: left;
}
body.rtl .vina-vmtreeview .vina-treeview-virtuemart ul.level0 > li a {
  padding: 15px 20px 16px 0;
}
body.rtl .vina-vmtreeview .vina-treeview-virtuemart ul.level0 > li a:before {
  margin-right: 0;
  margin-left: 9px;
}
body.rtl .vina-vmtreeview .vina-treeview-virtuemart ul > li .hitarea {
  margin: 12px 0 0 15px;
  float: left;
}
body.rtl .vina-pogo-slider.style3 a.readmore:after {
  float: right;
}
body.rtl .sp-module .owl-theme .owl-controls .owl-buttons div.owl-prev,
body.rtl .related_slider .lSAction .lSPrev {
  left: 13px;
  right: auto;
}
body.rtl .sp-module .owl-theme .owl-controls .owl-buttons div,
body.rtl .related_slider .lSAction a {
  left: 43px;
  right: auto;
}
body.rtl .menu-bottom ul li a:before {
  margin-left: 8px;
  margin-right: 0;
}
body.rtl .menu-bottom ul li a:hover {
  padding-right: 5px;
  padding-left: 0;
}
body.rtl .menu-bottom.vina-contact-us li > i {
  margin-right: 0;
  margin-left: 15px;
}
body.rtl .cf_flt_wrapper ul.cf_filters_list li,
body.rtl .cf_flt_wrapper .cf_catOption {
  padding-left: 15px;
  padding-right: 0;
}
body.rtl .product .product-inner .vm-product-media-container .actions .addtocart-area,
body.rtl .product .product-inner .vm-product-media-container .actions .btn-wishlist,
body.rtl .product .product-inner .vm-product-media-container .actions .vm-details-button {
  float: right;
}
body.rtl .product-price .price-crossed .vm-price-value {
  margin-left: 10px;
  margin-right: 0;
}
body.rtl .custom-services .left-block {
  float: right;
}
body.rtl .custom-services .left-block .fa {
  margin-left: 20px;
  margin-right: 0;
}
body.rtl [class^="icon-"],
body.rtl [class*=" icon-"] {
  margin-left: .25em;
  margin-right: 0;
}
body.rtl .entry-header .icons {
  float: left;
}
body.rtl .pull-right>.dropdown-menu {
  left: 0;
  right: auto;
}
body.rtl .post-format {
  float: right;
}
body.rtl .post-format i {
  margin-left: 20px;
  margin-right: 0;
}
body.rtl .post-format i:after {
  left: -5px;
  right: auto;
  transform: rotate(180deg);
}
body.rtl .article-info >dt >i,
body.rtl .article-info >dd >i {
  margin-right: 0;
  margin-left: 3px;
}
body.rtl .entry-link:before {
  top: auto;
  left: auto;
  right: -60px;
  transform: rotate(-90deg);
}
body.rtl .entry-quote:before {
  left: auto;
  transform: rotate(-15deg);
  top: auto;
  right: -40px;
}
body.rtl .categories-list .page-header a.pull-right {
  float: left !important;
}
body.rtl .newsfeed-category .category li .pull-left {
  float: right !important;
}
body.rtl .search .btn-toolbar .pull-left {
  float: right !important;
}
body.rtl .pull-left {
  float: right !important;
}
body.rtl .row-set .content h2 {
  padding: 0 23px 5px 0;
}
body.rtl .login-users .content h2 {
  background-position: 100% 0;
}
body.rtl #checkoutForm .cart-summary tbody td {
  border-left: 1px solid #f2f2f2;
  border-right: 0;
}
body.rtl .shipment input[type="radio"],
body.rtl .payment input[type="radio"] {
  float: right;
}
body.rtl .vmCartPaymentLogo {
  float: right;
}
body.rtl .vmCartPaymentLogo img {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
body.rtl .total-block .priceColor2 {
  margin-left: 30px;
  margin-right: 0;
}
body.rtl .account-login .buttons-set {
  text-align: left;
}
body.rtl .account-login .buttons-set > div {
  margin-left: 7px;
  margin-right: 0;
}
body.rtl .vina-carousel-virtuemart *,
body.rtl .vina-carousel-content * {
  direction: ltr;
}
body.rtl .vina-carousel-virtuemart .item-inner *,
body.rtl .vina-carousel-content .item-inner * {
  direction: rtl;
}
body.rtl .sp-module .vina-carousel-content .item .info span {
  display: inline-block;
  margin-left: 10px;
  margin-right: 0;
}
body.rtl .ratingbox div,
body.rtl .ratingbox span {
  left: 0;
}
body.rtl .listing-view.list .list-col8 {
  text-align: left;
}
body.rtl .vm-pagination.vm-pagination-bottom {
  text-align: left !important;
}
body.rtl .cf_wrapp_all .cf_flt_wrapper ul.cf_filters_list li > .cf_option:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 0;
  margin-left: 10px;
}
body.rtl .cf_flt_wrapper_rtl .cfLiLevel1 {
  margin-left: 0 !important;
}
body.rtl .cf_flt_wrapper ul.cf_filters_list li .cf_flt_counter,
body.rtl .cf_flt_wrapper .cf_catOption .cf_flt_counter {
  left: 0;
  right: auto;
}
body.rtl #sp-top2 .sp-module {
  float: left;
}
body.rtl #sp-top1 > .sp-column {
  float: right;
}
body.rtl .mod_menu_top .mod_menu li a {
  border-left: 0;
  border-right: 1px solid #454545;
}
body.rtl .mod_menu_top .mod_menu li:first-child a {
  padding-left: 14px;
}
body.rtl .sp-module.mod_menu_top .sp-module-title h3:after {
  margin-left: 0;
  padding-left: 0;
  margin-right: 5px;
  float: left;
}
body.rtl .sp-module.mod_menu_top .sp-module-content {
  left: 0;
  right: auto;
}
body.rtl .bootstrap-select .dropdown-menu {
  left: 0;
  right: auto;
}
body.rtl .sp-module .mod-languages .bootstrap-select div.dropdown-menu,
body.rtl .sp-module .cur_box .bootstrap-select div.dropdown-menu {
  left: 0;
  right: auto;
}
body.rtl #sp-right-header .sp-module {
  float: left;
}
body.rtl #vmCartModule {
  float: left;
  margin-left: 0;
  margin-right: 8px;
}
body.rtl .mage-products .product .product-inner .pull-left {
  margin-left: 0;
  margin-right: 0;
}
body.rtl .mage-products .product .product-inner .vm-product-media-container {
  padding-left: 20px;
  padding-right: 0;
}
body.rtl .mage-products .product .product-inner .text-block {
  text-align: right;
}
body.rtl .testimonial-content .testimonial-content-avatar {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
body.rtl .testimonial-content .content {
  background: url(../images/content-testimonial.png) no-repeat 100% 0;
}
body.rtl #sp-bottom .sp-module .sp-module-title {
  text-align: right;
}
body.rtl .footer-contact .fa {
  margin-left: 8px;
  margin-right: 0;
}
body.rtl .social-icons.floatleft {
  float: right;
}
body.rtl .vina-social .sp-module-title {
  float: right;
}
body.rtl .vina-social .sp-module-title h3 {
  margin: 0 0 0 20px;
}
body.rtl .sp-copyright {
  right: 15px;
  left: auto;
}
body.rtl .menu-footer ul li a {
  padding-right: 0;
  padding-left: 10px;
  background-position: left center;
}
body.rtl .sppb-addon-image-content.aligment-left .sppb-image-holder {
  left: auto;
  right: 0;
}
body.rtl .qlform .form-horizontal .controls:after {
  left: 0;
  right: auto;
}
body.rtl .quote-text-dark {
  padding-left: 30px;
  padding-right: 60px;
}
body.rtl .quote-text-dark:after {
  left: auto;
  right: 22px;
}
body.rtl .blog-zigzag article.item.even .entry-image,
body.rtl .blog-zigzag article.item.even .entry-post-format {
  float: right;
}
body.rtl .blog-zigzag article.item.even .post-wrapper {
  float: left;
  padding-left: 0;
  padding-right: 30px;
}
body.rtl .blog-zigzag article.item.odd .entry-image,
body.rtl .blog-zigzag article.item.odd .entry-post-format {
  float: left;
  padding-left: 0;
  padding-right: 30px;
}
body.rtl .blog-zigzag article.item.odd .post-wrapper {
  float: right;
}
body.rtl .knob_wrapper {
  margin-right: 18px;
  margin-left: 0;
}
body.rtl .jcomments-links {
  text-align: right;
}
body.rtl #sp-right-link .sp-module {
  float: left;
}
body.rtl .sp-module-content .mod-languages ul.lang-inline {
  margin: 0;
}
body.rtl .sp-module-content .mod-languages ul.lang-inline li:last-child {
  margin: 0 5px 0 0;
}
body.rtl .about-us-info .readmore:after {
  margin-left: 0;
  margin-right: 20px;
}
body.rtl .mini-cart .mini-cart-title {
  padding: 0 43px 0 25px;
}
body.rtl .mini-cart .mini-cart-title i {
  right: 0;
  left: auto;
}
body.rtl .mini-cart .cart-quantity {
  float: left;
}
body.rtl .mini-cart .cart-quantity:before {
  content: " ";
  white-space: pre;
}
body.rtl .mini-cart .mini-cart-content {
  left: 0;
  right: auto;
  text-align: right;
}
body.rtl .mini-cart .mini-cart-content .total {
  float: right;
}
body.rtl .mini-cart .mini-cart-content .show_cart {
  float: left;
}
body.rtl .vina-collection2 .textblock {
  padding-right: 30px;
  padding-left: 0;
}
body.rtl .vina-pogo-slider.style2 .caption-block a.readmore:after {
  float: right;
}
body.rtl #sp-left .sp-module .sp-module-title h3,
body.rtl #sp-left4 .sp-module .sp-module-title h3,
body.rtl #sp-right .sp-module .sp-module-title h3 {
  text-align: left;
}
body.rtl #sp-left .sp-module .sp-module-title h3:before,
body.rtl #sp-left4 .sp-module .sp-module-title h3:before,
body.rtl #sp-right .sp-module .sp-module-title h3:before {
  float: left;
  -webkit-transform: translate(-10px,4px);
  -ms-transform: translate(-10px,4px);
  -o-transform: translate(-10px,4px);
  transform: translate(-10px,4px);
}
body.rtl #sp-left .sp-module.mod_category li a:before,
body.rtl #sp-left4 .sp-module.mod_category li a:before,
body.rtl #sp-right .sp-module.mod_category li a:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 0;
  margin-left: 10px;
}
body.rtl .sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after {
  float: left;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
body.rtl .sp-megamenu-parent .sp-dropdown.sp-dropdown-sub {
  right: 100%;
  left: auto;
}
body.rtl .vina-social {
  float: left;
}
body.rtl div.acymailing_module_form .acymailing_introtext {
  float: right;
  margin-left: 20px !Important;
  margin-right: 0 !Important;
}
body.rtl div.acymailing_module_form tr .acysubbuttons {
  padding: 0 5px 0 0;
}
body.rtl .sp-totop {
  left: 12px;
  right: auto;
}
body.rtl .sp-vmsearch .search-button-wrapper {
  float: left;
}
body.rtl .sp-vmsearch .category-name-wrapper {
  margin-left: 10px;
  margin-right: 0;
}
body.rtl .sp-vmsearch .sp-vmsearch-categorybox {
  float: right;
  border-left: 2px solid #8e8b8c;
  border-right: 0;
}
body.rtl .sp-vmsearch .sp-vmsearch-categorybox .cat-button i {
  left: 3px;
  right: auto;
}
body.rtl .sp-module.control-left .vina-carousel-content .owl-buttons {
  right: auto;
  left: 0;
}
body.rtl .orderlistcontainer .title {
  margin: 0 0 0 5px;
  float: right;
}
body.rtl .orderby-displaynumber .vm-order-list .orderlistcontainer div.orderlist {
  left: 0;
  right: auto;
  text-align: left;
}
body.rtl .home2 .mini-cart .mini-cart-title {
  padding: 0 59px 0 20px;
}
body.rtl .home2 #offcanvas-toggler {
  float: right !Important;
}
body.rtl .home2 .sp-vmsearch {
  margin-left: 0;
  margin-right: -60px;
}
body.rtl .home2 .sp-vmsearch .sp-vmsearch-categorybox {
  border-left: 1px solid #e5e5e5;
  border-right: 0;
}
body.rtl .home3 .sp-vmsearch .search-input-wrapper {
  left: 0;
  right: auto;
}
body.rtl .home3 .sp-vmsearch.show .search-input-wrapper {
  left: 41px;
  right: auto;
}
body.rtl .home4 .sp-vmsearch .sp-vmsearch-categorybox {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
body.rtl .home4 .vina-vmtabproduct .tabs_container {
  text-align: right;
}
body.rtl .home4 .mini-cart .mini-cart-title .cart-title {
  margin-right: 20px;
  margin-left: 0;
}
body.rtl .home4 .mini-cart .mini-cart-title i {
  border-left: 1px solid #404048;
  border-right: 0;
}
body.rtl .home4 .top-contact .widget {
  margin-left: 50px;
}
body.rtl .home4 .sp-vmsearch {
  margin-right: -60px;
  margin-left: 0;
}
body.rtl .home4 #offcanvas-toggler {
  float: right;
}
@media (min-width: 768px) {
  body.rtl .sppb-col-sm-1,
  body.rtl .sppb-col-sm-2,
  body.rtl .sppb-col-sm-3,
  body.rtl .sppb-col-sm-4,
  body.rtl .sppb-col-sm-5,
  body.rtl .sppb-col-sm-6,
  body.rtl .sppb-col-sm-7,
  body.rtl .sppb-col-sm-8,
  body.rtl .sppb-col-sm-9,
  body.rtl .sppb-col-sm-10,
  body.rtl .sppb-col-sm-11,
  body.rtl .sppb-col-sm-12 {
    float: right;
  }
  body.rtl .sppb-col-sm-offset-6 {
    margin-left: 0;
    margin-right: 50%;
  }
}
@media (max-width: 979px) {
  body.rtl .home3 #sp-menu {
    float: left;
  }
  body.rtl .home4 #sp-menu {
    float: right;
  }
  body.rtl .home4 #sp-top22 {
    text-align: left;
  }
  body.rtl .vina-vertical-vmproduct .item-inner .list-col8 {
    padding-left: 0;
    padding-right: 10px;
  }
}
@media (max-width: 480px) {
  body.rtl .mod_lang.pull-right {
    float: none !important;
  }
  body.rtl .home4 .top-contact .widget {
    margin-left: 0;
  }
  body.rtl .productdetails-view .quantity-box {
    margin-left: 10px;
    margin-right: 0;
  }
}
